.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
}

.checkoutProduct--info{
    padding-left: 20px;
}

.checkoutProduct--info button{
    background: #F7CA00;
    border: 1px solid;
    border-color: #9b8212;
    margin-top: 10px;
    color: black;
    border-radius: 5px;
}

.checkoutProductImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct--title{
    font-size: 18px;
    font-weight: 700;
}
@media  screen and (max-width:720px) {
    .Checkout--product {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
 }
 .Checkout--title {
    font-size: 8px;
    font-weight: 500;
}
.Checkout--img {
    object-fit: contain;
    width: 100px;
    height: 155px;
}
.Checkout--info button {
    font-size: 9px;
    background: #F7CA00;
    border: 0px solid;
    border-color: #9b8212;
    margin-top: 5px;
    border-radius: 1px;
    color: black;
    padding: 2px;
}
}